In [1]:
# Importing libraries

from __future__ import print_function
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read data set through read_csv() funtion 
df = pd.read_csv('Crop_data.csv')

In [3]:
#getting starting values of data set
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
#getting ending values of data set
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
1195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
1196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
1197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
1198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
1199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [5]:
df.size

9600

In [6]:
#get the columns name
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [7]:
#all the lables that are available
df['label'].unique()

array(['rice', 'maize', 'chana', 'rajma', 'arhar daal', 'mothbeans',
       'mungbean', 'blackgram', 'kala chana', 'masoor daal', 'cotton',
       'jute', 'coffee'], dtype=object)

In [8]:
#all the lebeles have how many type of data
df['label'].value_counts()

rice           100
maize          100
chana          100
rajma          100
arhar daal     100
mothbeans      100
mungbean       100
masoor daal    100
cotton         100
jute           100
coffee         100
kala chana      99
blackgram        1
Name: label, dtype: int64

In [9]:
features = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target = df['label']
#features = df[['temperature', 'humidity', 'ph', 'rainfall']]
#labels = df['label']

In [10]:
# Splitting into train and test data
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2,random_state =2)

In [11]:
#Implementation of Logistic Regression Algorithm
from sklearn.linear_model import LogisticRegression
LogReg = LogisticRegression(random_state=2)
LogReg.fit(Xtrain,Ytrain)
predicted_values = LogReg.predict(Xtest)
x = metrics.accuracy_score(Ytest, predicted_values)
print("Logistic Regression's Accuracy is: ", x)

Logistic Regression's Accuracy is:  0.9583333333333334

In [12]:
#getting the output lable
data = np.array([[104,18, 30, 23.603016, 60.3, 6.7, 140.91]])
prediction = LogReg.predict(data)
print(prediction)

['coffee']

In [13]:
data = np.array([[83, 45, 60, 28, 70.3, 7.0, 150.9]])
prediction = LogReg.predict(data)
print(prediction)

['jute']

In [14]:
data = np.array([[83, 45, 60, 28, 70.3, 7.0, 150.9]])
prediction = LogReg.predict(data)
print(prediction)

['jute']

In [15]:
data = np.array([[98,53,38,20.26707606,81.63895217,5.01450727,270.4417274]])
prediction = LogReg.predict(data)
print(prediction)

['rice']